# Ignore node_modules directory
node_modules/

# Ignore build output
/dist/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files and database files
*.log
*.sqlite

# Ignore dependency files
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled Python files
*.pyc

# Ignore compiled Java classes
*.class

# Ignore IntelliJ IDEA files
.idea/

# Ignore Visual Studio Code files
.vscode/

# Ignore macOS directory attributes
.AppleDouble
.DS_Store
